Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Console]
"ColorTable00"=dword:{{base00}}
"ColorTable01"=dword:{{base01}}
"ColorTable02"=dword:{{base02}}
"ColorTable03"=dword:{{base03}}
"ColorTable04"=dword:{{base04}}
"ColorTable05"=dword:{{base05}}
"ColorTable06"=dword:{{base06}}
"ColorTable07"=dword:{{base07}}
"ColorTable08"=dword:{{base08}}
"ColorTable09"=dword:{{base09}}
"ColorTable10"=dword:{{base0A}}
"ColorTable11"=dword:{{base0B}}
"ColorTable12"=dword:{{base0C}}
"ColorTable13"=dword:{{base0D}}
"ColorTable14"=dword:{{base0E}}
"ColorTable15"=dword:{{base0F}}
"CtrlKeyShortcutsDisabled"=dword:00000000
"CursorColor"=dword:ffffffff
"CursorSize"=dword:00000032
"EnableColorSelection"=dword:00000000
"ExtendedEditKey"=dword:00000001
"ExtendedEditKeyCustom"=dword:00000000
"FaceName"="Fira Code Retina"
"FilterOnPaste"=dword:00000001
"FontFamily"=dword:00000036
"FontSize"=dword:00120000
"FontWeight"=dword:000001c2
"ForceV2"=dword:00000001
"FullScreen"=dword:00000000
"HistoryBufferSize"=dword:00000032
"HistoryNoDup"=dword:00000000
"InsertMode"=dword:00000001
"LineSelection"=dword:00000001
"LineWrap"=dword:00000001
"LoadConIme"=dword:00000001
"NumberOfHistoryBuffers"=dword:00000004
"PopupColors"=dword:000000f5
"QuickEdit"=dword:00000001
"ScreenBufferSize"=dword:23290078
"ScreenColors"=dword:00000007
"ScrollScale"=dword:00000001
"TrimLeadingZeros"=dword:00000000
"WindowAlpha"=dword:000000ff
"WindowSize"=dword:001e0078
"WordDelimiters"=dword:00000000
"CurrentPage"=dword:00000001
"InterceptCopyPaste"=dword:00000000

