{{=[[ ]]=}}
set mainfont {{Fira Sans} 11}
set textfont {{Fira Mono} 10}
set uifont {{Fira Sans} 9}
set tabstop 4
set findmergefiles 0
set maxgraphpct 100
set maxwidth 32
set cmitmode patch
set wrapcomment none
set autoselect 1
set autosellen 40
set showneartags 1
set maxrefs 20
set visiblerefs {"master"}
set hideremotes 0
set showlocalchanges 1
set datetimeformat {%Y-%m-%d %H:%M:%S}
set limitdiffs 1
set uicolor [[& base02]]
set want_ttk 1
set bgcolor [[& base00]]
set fgcolor [[& base05]]
set uifgcolor [[& base05]]
set uifgdisabledcolor #6272a4
set colors {[[& base0B]] [[& base08]] [[& base0E]] [[& base09]] #f8f8f8 [[& base0A]] [[& base0A]]}
set diffcolors {[[& base08]] [[& base0B]] [[& base0E]]}
set mergecolors {[[& base08]] [[& base0E]] [[& base0B]] [[& base0E]] [[& base0A]] #8be9fd [[& base09]] [[& base03]] #8be9fd [[& base09]] #8be9fd [[& base0A]] #8be9fd [[& base0B]] [[& base0A]] [[& base09]]}
set markbgcolor [[& base00]]
set diffcontext 3
set selectbgcolor [[& base02]]
set foundbgcolor [[& base03]]
set currentsearchhitbgcolor [[& base0A]]
set extdifftool meld
set perfile_attrs 0
set headbgcolor [[& base0B]]
set headfgcolor black
set headoutlinecolor [[& base05]]
set remotebgcolor [[& base0A]]
set tagbgcolor [[& base03]]
set tagfgcolor black
set tagoutlinecolor [[& base05]]
set reflinecolor [[& base05]]
set filesepbgcolor [[& base02]]
set filesepfgcolor [[& base05]]
set linehoverbgcolor [[& base03]]
set linehoverfgcolor black
set linehoveroutlinecolor [[& base05]]
set mainheadcirclecolor [[& base0C]]
set workingfilescirclecolor [[& base08]]
set indexcirclecolor [[& base0B]]
set circlecolors {[[& base00]] [[& base0D]] [[& base02]] [[& base0D]] [[& base0D]]}
set linkfgcolor [[& base0E]]
set circleoutlinecolor [[& base02]]
set geometry(main) 1920x997+0+24
set geometry(state) zoomed
set geometry(topwidth) 1920
set geometry(topheight) 700
set geometry(pwsash0) "859 1"
set geometry(pwsash1) "1267 1"
set geometry(botwidth) 1902
set geometry(botheight) 292
set permviews {}
[[={{ }}=]]
