[Monokai]
normal-foreground = #f8f8f2
normal-background = #272822
keyword-foreground = #ae81ff
keyword-background = #272822
builtin-foreground = #ae81ff
builtin-background = #272822
comment-foreground = #75715e
comment-background = #272822
string-foreground = #a6e22e
string-background = #272822
definition-foreground = #66d9ef
definition-background = #272822
hilite-foreground = #f8f8f2
hilite-background = #383830
break-foreground = #f8f8f2
break-background = #cc6633
hit-foreground = #f8f8f2
hit-background = #75715e
error-foreground = #f8f8f2
error-background = #f92672
cursor-foreground = #f8f8f2
stdout-foreground = #f4bf75
stdout-background = #272822
stderr-foreground = #f92672
stderr-background = #272822
console-foreground = #a1efe4
console-background = #272822
context-foreground = #f8f8f2
context-background = #272822

[Monokai Pro]
normal-foreground = {{& base05}}
normal-background = {{& base00}}
keyword-foreground = {{& base0E}}
keyword-background = {{& base00}}
builtin-foreground = {{& base0E}}
builtin-background = {{& base00}}
comment-foreground = {{& base03}}
comment-background = {{& base00}}
string-foreground = {{& base0B}}
string-background = {{& base00}}
definition-foreground = {{& base0D}}
definition-background = {{& base00}}
hilite-foreground = {{& base05}}
hilite-background = {{& base01}}
break-foreground = {{& base05}}
break-background = {{& base0F}}
hit-foreground = {{& base05}}
hit-background = {{& base03}}
error-foreground = {{& base05}}
error-background = {{& base08}}
cursor-foreground = {{& base05}}
stdout-foreground = {{& base0A}}
stdout-background = {{& base00}}
stderr-foreground = {{& base08}}
stderr-background = {{& base00}}
console-foreground = {{& base0C}}
console-background = {{& base00}}
context-foreground = {{& base05}}
context-background = {{& base00}}

