[Monokai Pro]
normal-foreground = {{& base05}}
normal-background = {{& base00}}
keyword-foreground = {{& base0E}}
keyword-background = {{& base00}}
builtin-foreground = {{& base0E}}
builtin-background = {{& base00}}
comment-foreground = {{& base03}}
comment-background = {{& base00}}
string-foreground = {{& base0B}}
string-background = {{& base00}}
definition-foreground = {{& base0D}}
definition-background = {{& base00}}
hilite-foreground = {{& base05}}
hilite-background = {{& base01}}
break-foreground = {{& base05}}
break-background = {{& base0F}}
hit-foreground = {{& base05}}
hit-background = {{& base03}}
error-foreground = {{& base05}}
error-background = {{& base08}}
cursor-foreground = {{& base05}}
stdout-foreground = {{& base0A}}
stdout-background = {{& base00}}
stderr-foreground = {{& base08}}
stderr-background = {{& base00}}
console-foreground = {{& base0C}}
console-background = {{& base00}}
context-foreground = {{& base05}}
context-background = {{& base00}}
