<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
            <setting name="ShowCommandsTop" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="ShowCommandsHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ShowCommandsLeft" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="ShowCommandsWidth" serializeAs="String">
                <value>380</value>
            </setting>
        </Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
        <UserSettings>
            <setting name="ConsolePaneBackgroundColor" serializeAs="String">
                <value>#FF272822</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCommandsOnFirstPowerShellTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOutlining" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsolePaneTextBackgroundColor" serializeAs="String">
                <value>#FF272822</value>
            </setting>
            <setting name="MRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>D:\Users\KIRODE\Documents\PowerShell\Microsoft.PowerShell_profile.ps1</string>
                        <string>D:\Users\KIRODE\Documents\PowerShell\Modules\posh-git\1.0.0\GitUtils.ps1</string>
                        <string>D:\Users\KIRODE\Documents\PowerShell\Modules\posh-git\1.0.0\GitPrompt.ps1</string>
                        <string>D:\Users\KIRODE\Documents\PowerShell\Modules\New-Github-Repo\New-Github-Repo.psm1</string>
                        <string>D:\Users\KIRODE\Documents\PowerShell\Modules\Remove-Github-Repo\Remove-Github-Repo.psm1</string>
                        <string>D:\Users\KIRODE\Documents\PowerShell\Modules\New-Cpp-Project\New-Cpp-Project.psm1</string>
                        <string>D:\Users\KIRODE\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1</string>
                        <string>D:\Users\KIRODE\Documents\WindowsPowerShell\Modules\New-Cpp-Project\New-Cpp-Project.psm1</string>
                        <string>D:\Users\KIRODE\Documents\WindowsPowerShell\Microsoft.PowerShellISE_profile .ps1</string>
                        <string>D:\Users\KIRODE\Documents\WindowsPowerShell\Modules\Copy-Difference\Copy-Difference.psm1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IntellisenseTimeoutInSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="XmlTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Comment,#FF75715E</string>
                        <string>CommentDelimiter,#FF75715E</string>
                        <string>ElementName,#FFF92672</string>
                        <string>MarkupExtension,#FFA1EFE4</string>
                        <string>Attribute,#FFFD971F</string>
                        <string>Quote,#FFA6E22E</string>
                        <string>QuotedString,#FFA6E22E</string>
                        <string>Tag,#FFF92672</string>
                        <string>Text,#FFF8F8F2</string>
                        <string>CharacterData,#FFF4BF75</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseEnterToSelectInScriptPaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Column0ToolsNoEditor" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="AutoSaveMinuteInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConsolePaneForegroundColor" serializeAs="String">
                <value>#FFF8F8F2</value>
            </setting>
            <setting name="ShowWarningBeforeSavingOnRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FF66D9EF</string>
                        <string>Command,#FF66D9EF</string>
                        <string>CommandArgument,#FFF8F8F2</string>
                        <string>CommandParameter,#FFF8F8F2</string>
                        <string>Comment,#FF75715E</string>
                        <string>GroupEnd,#FFF8F8F2</string>
                        <string>GroupStart,#FFF8F8F2</string>
                        <string>Keyword,#FFAE81FF</string>
                        <string>LineContinuation,#FFA1EFE4</string>
                        <string>LoopLabel,#FFFD971F</string>
                        <string>Member,#FFF8F8F2</string>
                        <string>NewLine,#FFF5F5F5</string>
                        <string>Number,#FFFD971F</string>
                        <string>Operator,#FFF8F8F2</string>
                        <string>Position,#FFF5F5F5</string>
                        <string>StatementSeparator,#FFF8F8F2</string>
                        <string>String,#FFA6E22E</string>
                        <string>Type,#FFF4BF75</string>
                        <string>Unknown,#FFF5F5F5</string>
                        <string>Variable,#FFF92672</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowWarningForDuplicateFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningForegroundColor" serializeAs="String">
                <value>#FFA1EFE4</value>
            </setting>
            <setting name="ShowIntellisenseInConsolePane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowHeightSetting" serializeAs="String">
                <value>527</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsConsoleHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="WarningBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="DebugForegroundColorSetting" serializeAs="String">
                <value>#FFF8F8F2</value>
            </setting>
            <setting name="ShowDefaultSnippets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerboseBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="ShowIntellisenseInScriptPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEnterToSelectInConsolePaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowWidthSetting" serializeAs="String">
                <value>974</value>
            </setting>
            <setting name="LastFilePath" serializeAs="String">
                <value>D:\Users\KIRODE\Documents\WindowsPowerShell</value>
            </setting>
            <setting name="ErrorForegroundColor" serializeAs="String">
                <value>#FFCC6633</value>
            </setting>
            <setting name="VerboseForegroundColorSetting" serializeAs="String">
                <value>#FFF8F8F2</value>
            </setting>
            <setting name="DebugBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="MruCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScriptPaneForegroundColor" serializeAs="String">
                <value>#FFF8F8F2</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>953</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptPaneBackgroundColor" serializeAs="String">
                <value>#FF272822</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsEditorHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Column2ToolsNoEditor" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ErrorBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="UseLocalHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScriptOnFirstRunspace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FF66D9EF</string>
                        <string>Command,#FF66D9EF</string>
                        <string>CommandArgument,#FFF8F8F2</string>
                        <string>CommandParameter,#FFF8F8F2</string>
                        <string>Comment,#FF75715E</string>
                        <string>GroupEnd,#FFF8F8F2</string>
                        <string>GroupStart,#FFF8F8F2</string>
                        <string>Keyword,#FFAE81FF</string>
                        <string>LineContinuation,#FFA1EFE4</string>
                        <string>LoopLabel,#FFFD971F</string>
                        <string>Member,#FFF8F8F2</string>
                        <string>NewLine,#FF000000</string>
                        <string>Number,#FFFD971F</string>
                        <string>Operator,#FFF8F8F2</string>
                        <string>Position,#FF000000</string>
                        <string>StatementSeparator,#FFF8F8F2</string>
                        <string>String,#FFA6E22E</string>
                        <string>Type,#FFF4BF75</string>
                        <string>Unknown,#FF000000</string>
                        <string>Variable,#FFF92672</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Fira Code</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SelectedScriptPaneState" serializeAs="String">
                <value>2</value>
            </setting>
        </UserSettings>
    </userSettings>
</configuration>